.benefits {
  margin: 0 1.5rem 19.38rem 1.5rem;

  @media (min-width: 47.5rem) {
    margin: 0 2rem 20.63rem 1.88rem;
  }

  @media (min-width: 62.5rem) {
    margin: 0 2rem 23.56rem 1.88rem;
  }

  &__content {
    max-width: var(--width-1110);

    margin: 0 auto;
  }

  &__list {
    display: grid;
    gap: 4.88rem;

    @media (min-width: 47.5rem) {
      gap: 2rem;
    }

    @media (min-width: 62.5rem) {
      grid-template-columns: repeat(3, 1fr);
      gap: 1.88rem;
    }
  }
}

.benefit-card {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 3.13rem;

  @media (min-width: 47.5rem) {
    grid-template-columns: 1fr 2fr;
    gap: 39zpx;
  }

  @media (min-width: 62.5rem) {
    grid-template-columns: 1fr;
    gap: 3.06rem;
  }

  &__container {
    display: grid;
    gap: 2rem;

    color: var(--secondary-clr-one);
    text-align: center;

    @media (min-width: 47.5rem) {
      gap: 1rem;

      text-align: start;
    }

    @media (min-width: 62.5rem) {
      gap: 2rem;

      text-align: center;
    }
  }

  &__heading {
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-500);
    line-height: 1.3;
    letter-spacing: 0.31em;
    text-transform: uppercase;
  }

  &__text {
    max-width: 35ch;

    font-size: var(--font-size-16);
    font-weight: var(--font-weight-400);
    line-height: 1.63;

    @media (min-width: 47.5rem) {
      max-width: 46ch;
    }
  }
}
