.contact {
  @media (min-width: 460px) {
    margin: 0 24px 120px 24px;
  }

  @media (min-width: 760px) {
    margin: 0 40px 120px 39px;
  }

  @media (min-width: 1000px) {
    margin: 0 40px 160px 39px;
  }

  &__content {
    max-width: 1110px;

    display: grid;
    justify-items: center;
    gap: 48px;

    padding: 72px 24px 72px 24px;
    margin: 0 auto;

    background: #e7816b;
    background-image: url(/src/assets/contact/mobile/bg-pattern-hero-contact-mobile.svg);
    background-repeat: no-repeat;
    background-position: -92px 0;

    transition: 0.8s all;

    @media (min-width: 460px) {
      padding: 72px 58px 72px 58px;

      border-radius: 15px;
    }

    @media (min-width: 760px) {
      justify-items: start;
      gap: 40px;

      background-image: url(/src/assets/contact/desktop/bg-pattern-hero-desktop.svg);
      background-position: -123px -83px;
    }

    @media (min-width: 1000px) {
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 95px;

      background-position: -1px -160px;

      padding: 72px 58px 72px 95px;
    }
  }

  &__container {
    display: grid;
    gap: 24px;

    text-align: center;

    @media (min-width: 760px) {
      gap: 32px;

      text-align: start;
    }
  }

  &__heading {
    color: #fff;

    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 112.5% */

    @media (min-width: 760px) {
      color: #fff;
      font-family: Jost;
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: 48px; /* 100% */
    }

    @media (min-width: 1000px) {
    }
  }

  &__text {
    color: #fff;

    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */

    @media (min-width: 760px) {
      max-width: 47ch;

      color: #fff;
      font-family: Jost;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
    }
  }

  &__form {
    width: 100%;
    display: grid;
    gap: 25px;

    transition: 0.8s all;
  }

  &__input {
    width: 100%;

    color: #fff;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 173.333% */

    padding: 0 0 11px 13.77px;

    background: none;

    border-bottom: solid 1px white;

    outline: none;

    &:is(:hover, :focus, :focus-visible) {
      border-bottom: solid 3px white;

      transition: 0.8s all;
    }
  }

  &__button {
    margin-top: 40px;

    @media (min-width: 760px) {
      margin-top: 24px;
    }
  }
}

::placeholder {
  color: #fff;
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 173.333% */

  opacity: 0.5;
}

.error-message {
  color: #fff;
  font-family: Jost;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 26px; /* 216.667% */
}
