.contact {
  margin: 0 0 7.5rem 0;

  @media (min-width: 28.75rem) {
    margin: 0 1.5rem 7.5rem 1.5rem;
  }

  @media (min-width: 47.5rem) {
    margin: 0 2rem 7.5rem 2.44rem;
  }

  @media (min-width: 62.5rem) {
    margin: 0 2.5rem 10rem 2.44rem;
  }

  &__content {
    max-width: var(--width-1110);
    display: grid;
    justify-items: center;
    gap: 3rem;

    padding: 4.5rem 1.5rem 4.5rem 1.5rem;
    margin: 0 auto;

    background: var(--primary-clr-two);
    background-image: url(/assets/contact/mobile/bg-pattern-hero-contact-mobile.svg);
    background-repeat: no-repeat;
    background-position: -5.75rem 0;

    transition: var(--transition);

    @media (min-width: 28.75rem) {
      padding: 4.5rem 3.63rem 4.44rem 3.63rem;

      border-radius: 0.94rem;
    }

    @media (min-width: 47.5rem) {
      justify-items: start;
      gap: 2.5rem;

      background-image: url(/assets/contact/desktop/bg-pattern-hero-desktop.svg);
      background-position: -7.69rem -5.19rem;
    }

    @media (min-width: 62.5rem) {
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 5.94rem;

      background-position: -0.06rem -10rem;

      padding: 3.44rem 3.63rem 3.44rem 5.94rem;
    }
  }

  &__container {
    display: grid;
    gap: 1.5rem;

    color: var(--primary-clr-one);
    text-align: center;

    &--name,
    &--email,
    &--phone,
    &--message {
      width: 100%;
      position: relative;
    }

    @media (min-width: 47.5rem) {
      gap: 2rem;

      text-align: start;
    }
  }

  &__heading {
    font-size: var(--font-size-32);
    font-weight: 500;
    line-height: 1.13;

    @media (min-width: 47.5rem) {
      font-size: var(--font-size-48);
      line-height: 1;
    }
  }

  &__text {
    font-size: var(--font-size-15);
    font-weight: 400;
    line-height: 1.67;

    @media (min-width: 47.5rem) {
      max-width: 58ch;

      font-size: var(--font-size-16);
      line-height: 1.63;
    }
  }

  &__form {
    width: 100%;
    display: grid;
    justify-items: center;
    gap: 1.56rem;

    transition: var(--transition);

    @media (min-width: 47.5rem) {
      justify-items: end;
    }
  }

  &__input {
    width: 100%;

    color: var(--primary-clr-one);
    font-size: var(--font-size-15);
    font-weight: var(--font-weight-500);
    line-height: 1.73;

    padding: 0 0 11px 0.86rem;

    background: none;

    border-bottom: solid 0.06rem var(--primary-clr-one);

    outline: none;

    @media (min-width: 47.5rem) {
      padding: 0 0 0.69rem 1.49rem;
    }

    &:is(:hover, :focus, :focus-visible) {
      border-bottom: solid 0.19rem var(--primary-clr-one);

      transition: var(--transition);
    }
  }

  &__error--name,
  &__error--email,
  &__error--phone,
  &__error--message {
    position: absolute;
    top: 0.06rem;
    right: 2.25rem;

    display: flex;
    align-items: center;
    gap: 0.56rem;
  }

  &__button {
    padding: 0.94rem 2.81rem 1.13rem 3.06rem;
    margin-top: 2.94rem;

    @media (min-width: 47.5rem) {
      padding: 1rem 2.88rem 1.06rem 3rem;
      margin-top: 1.88rem;
    }
  }
}

::placeholder {
  color: var(--primary-clr-one);
  font-size: var(--font-size-15);
  font-weight: var(--font-weight-500);
  line-height: 1.73;

  opacity: 0.5;
}

.error-message {
  color: var(--primary-clr-one);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-400);
  line-height: 2.17;
}
