.designs {
  margin: 0 1.5rem 6.06rem 1.5rem;

  @media (min-width: 47.5rem) {
    margin: 0 2rem 7.5rem 2.44rem;
  }

  @media (min-width: 62.5rem) {
    margin: 0 2rem 10rem 2.44rem;
  }

  &__content {
    max-width: 69.38rem;
    margin: 0 auto;
  }

  &__list {
    display: grid;
    gap: 2.5rem;

    @media (min-width: 47.5rem) {
      gap: 2.13rem;
    }

    @media (min-width: 62.5rem) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1.88rem;
      row-gap: 2rem;
    }
  }
}
