.locations {
  margin: 0 0 19.38rem 0;

  @media (min-width: 28.75rem) {
    margin: 0 1.5rem 7.5rem 1.5rem;
  }

  @media (min-width: 47.5rem) {
    margin: 0 2rem 23.81rem 2.44rem;
  }

  @media (min-width: 62.5rem) {
    margin: 0 2.5rem 23.94rem 2.44rem;
  }

  &__content {
    max-width: var(--width-1110);
    margin: 0 auto;
  }
}

.locations__list {
  display: grid;
  gap: 2.5rem;
  transition: var(--transition);

  @media (min-width: 47.5rem) {
    gap: 7.44rem;
  }

  @media (min-width: 62.5rem) {
    gap: 2.19rem;
  }
}

.location-card {
  display: grid;
  grid-template-areas: "map" "content";

  transition: var(--transition);

  @media (min-width: 28.75rem) {
    gap: 1.94rem;
  }

  @media (min-width: 62.5rem) {
    display: grid;
    grid-template-areas: "content map";
    grid-template-columns: 2fr 1fr;
    gap: 1.94rem;

    &--alt {
      grid-template-areas: "map content";
      grid-template-columns: 1fr 2fr;
    }
  }

  &__picture {
    grid-area: map;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @media (min-width: 28.75rem) {
        border-radius: 0.94rem;
        overflow: hidden;
      }
    }
  }

  &__container {
    display: grid;
    grid-area: content;
    grid-template-areas:
      "location"
      "address"
      "contact";
    gap: 1.5rem;

    text-align: center;

    padding: 5rem 1.5rem;

    background: var(--secondary-clr-two);
    background-image: url(/src/assets/shared/desktop/bg-pattern-three-circles.svg);
    background-repeat: no-repeat;
    background-position: 0;

    transition: var(--transition);

    &--office,
    &--contact {
      display: flex;
      flex-direction: column;
      justify-content: center;

      text-align: center;

      @media (min-width: 47.5rem) {
        justify-content: start;

        text-align: start;
      }
    }

    @media (min-width: 28.75rem) {
      border-radius: 0.94rem;
      overflow: hidden;
    }

    @media (min-width: 47.5rem) {
      grid-template-areas:
        "location location"
        "address contact";

      padding: 5.5rem 1.5rem 5.5rem 4.69rem;

      background-position: 0 -16.13rem;
    }

    @media (min-width: 62.5rem) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      padding: 5.5rem 1.5rem 5.5rem 5.94rem;
    }
  }

  &__location {
    grid-area: location;

    color: var(--primary-clr-two);
    font-size: var(--font-size-32);
    font-style: normal;
    font-weight: var(--font-weight-500);
    line-height: 1.13;

    @media (min-width: 47.5rem) {
      justify-self: start;

      font-size: var(--font-size-40);
      line-height: 1.2;
    }
  }

  &__office {
    grid-area: office;
  }

  &__contact {
    grid-area: contact;
  }

  &__office,
  &__contact,
  &__address,
  &__phone,
  &__email {
    color: var(--secondary-clr-one);

    font-size: var(--font-size-15);
    font-style: normal;
    font-weight: var(--font-weight-700);
    line-height: 1.67;

    @media (min-width: 47.5rem) {
      font-size: var(--font-size-16);
      line-height: 1.63;
    }
  }

  &__address {
    display: grid;
  }

  &__address,
  &__phone,
  &__email {
    font-weight: var(--font-weight-400);
  }
}
