:root {
  --primary-clr-one: hsl(11, 73%, 66%);
  --primary-clr-two: hsl(264, 4%, 11%);
  --primary-clr-three: hsl(0, 0%, 100%);

  --secondary-clr-one: hsl(11, 100%, 80%);
  --secondary-clr-two: hsl(264, 5%, 20%);
  --secondary-clr-three: hsl(210, 17%, 95%);

  --overlay: hsla(0, 0%, 0%, 0.4);

  --border-clr: hsla(0, 0%, 100%, 0.1);
}
