:root {
  --primary-clr-one: hsl(0, 0%, 100%);
  --primary-clr-two: hsl(11, 73%, 66%);
  --primary-clr-three: hsl(264, 4%, 11%);

  --secondary-clr-one: hsl(264, 5%, 20%);
  --secondary-clr-two: hsl(14, 76%, 97%);

  --hover-clr-one: hsl(11, 100%, 80%);

  --overlay: hsla(0, 0%, 0%, 0.4);
  --border-clr: hsla(0, 0%, 100%, 0.1);
}
