:root {
  --font-family: "Jost", sans-serif;

  --font-size-48: 48px;
  --font-size-40: 40px;
  --font-size-32: 32px;
  --font-size-28: 28px;
  --font-size-24: 24px;
  --font-size-20: 20px;
  --font-size-16: 16px;
  --font-size-15: 15px;
  --font-size-14: 14px;

  --font-weight-700: 700;
  --font-weight-600: 600;
  --font-weight-400: 400;
}

body {
  font-family: var(--font-family);
}
