.footer {
  background: var(--primary-clr-three);

  padding: 15.81rem 2.5rem 4rem 2.5rem;

  &--alt {
    padding: 3.94rem 2.5rem 4rem 2.5rem;
  }

  @media (min-width: 47.5rem) {
    padding: 10.44rem 1.69rem 4.94rem 2.5rem;

    &--alt {
      padding: 5rem 1.69rem 4.94rem 2.5rem;
    }
  }

  @media (min-width: 62.5rem) {
    padding: 9.06rem 2.5rem 4.88rem 2.5rem;

    &--alt {
      padding: 4.38rem 2.5rem 4.88rem 2.5rem;
    }
  }

  &__content {
    max-width: var(--width-1110);

    display: grid;
    justify-items: center;
    gap: 2.25rem;

    margin: 0 auto;

    @media (min-width: 47.5rem) {
      justify-items: stretch;
      gap: 2rem;
    }

    @media (min-width: 62.5rem) {
      gap: 2.06rem;
    }
  }

  &__container--one,
  &__container--two {
    display: grid;
    justify-items: center;
  }

  &__container--one {
    gap: 3.81rem;

    @media (min-width: 47.5rem) {
      grid-template-columns: 1fr 1.5fr;
      align-items: center;

      padding-bottom: 2.5rem;

      border-bottom: solid 0.06rem var(--border-clr);
    }

    @media (min-width: 62.5rem) {
      grid-template-columns: 1.5fr 1fr;
    }
  }

  &__container--two {
    gap: 2.5rem;

    @media (min-width: 47.5rem) {
      grid-template-columns: 2fr 1fr;
      justify-items: start;
      gap: 1.19rem;
    }
  }

  &__logo {
    max-width: 12.31rem;

    @media (min-width: 47.5rem) {
      justify-self: start;
    }
  }
}
