.contact__list {
  display: grid;
  gap: 2.5rem;

  @media (min-width: 47.5rem) {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  @media (min-width: 62.5rem) {
    grid-template-columns: 1.5fr 1fr;
    gap: 5rem;
  }
}

.address {
  display: grid;

  color: var(--primary-clr-one);
  font-size: var(--font-size-16);
  font-style: normal;
  line-height: 1.63;
  text-align: center;

  @media (min-width: 47.5rem) {
    text-align: start;
  }

  &__heading {
    font-weight: var(--font-weight-700);
  }

  &__location,
  &__phone,
  &__email {
    font-weight: var(--font-weight-400);
    opacity: 0.5;

    outline: none;

    @media (hover: hover) {
      &:is(:hover, :focus, :focus-visible) {
        color: var(--hover-clr-one);
        opacity: 1;

        transition: var(--transition);
      }
    }
  }
}
