.social__list {
  display: flex;
  align-items: center;
  gap: 1rem;

  @media (min-width: 47.5rem) {
    justify-self: end;
    align-self: end;
    gap: 1.06rem;
  }

  &-icon {
    fill: var(--primary-clr-two);

    @media (hover: hover) {
      &:is(:hover, :focus, :focus-visible) {
        fill: var(--hover-clr-one);
        transition: var(--transition);
      }
    }
  }
}
