.project-card {
  position: relative;

  display: grid;
  place-content: center;
  gap: 0.75rem;

  padding: 5.63rem 2.25rem 5.63rem 2.25rem;

  border-radius: 0.94rem;

  overflow: hidden;

  &--web,
  &--app,
  &--graphic {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media (min-width: 47.5rem) {
    gap: 1.44rem;

    padding: 3.31rem 3.5rem 3.31rem 3.5rem;
  }

  @media (min-width: 62.5rem) {
    padding: 6.63rem 3.5rem 6.75rem 3.5rem;
  }

  &--web {
    grid-area: web;

    background-image: url(/src/assets/home/mobile/image-web-design.jpg);

    @media (min-width: 47.5rem) {
      background-image: url(/src/assets/home/desktop/image-web-design-small.jpg);
    }
  }

  &--app {
    grid-area: app;

    background-image: url(/src/assets/home/mobile/image-app-design.jpg);

    @media (min-width: 47.5rem) {
      background-image: url(/src/assets/home/desktop/image-app-design.jpg);
    }
  }

  &--graphic {
    grid-area: graphic;

    background-image: url(/src/assets/home/mobile/image-graphic-design.jpg);

    @media (min-width: 47.5rem) {
      background-image: url(/src/assets/home/desktop/image-graphic-design.jpg);
    }
  }

  &__link {
    align-self: start;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.69rem;

    color: var(--primary-clr-one);
    text-align: center;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &:after {
      position: absolute;

      content: "";
      background: linear-gradient(
        0deg,
        hsla(0, 0%, 0%, 0.6) 0%,
        hsla(0, 0%, 0%, 0.6) 100%
      );

      width: 100%;
      height: 100%;

      bottom: 0;
      left: 0;
      right: 0;
    }

    @media (hover: hover) {
      &:is(:hover, :focus, :focus-visible):after {
        background: hsla(11, 72%, 66%, 0.7);

        transition: var(--transition);
      }
    }

    @media (min-width: 47.5rem) {
      gap: 1.5rem;
    }
  }

  &__project,
  &__container {
    z-index: 4;
  }

  &__project {
    align-self: end;

    font-size: var(--font-size-28);
    font-weight: var(--font-weight-500);
    line-height: 1.29;
    letter-spacing: 0.09em;
    text-transform: uppercase;

    @media (min-width: 760px) {
      font-size: var(--font-size-40);
      line-height: 1.2;
      letter-spacing: 0.13em;
    }
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__text {
    font-size: var(--font-size-15);
    font-weight: var(--font-weight-500);
    line-height: normal;
    letter-spacing: 0.31em;
    text-transform: uppercase;
  }

  &__img {
    transform: translateX(0.63rem);
  }
}
