.headquarters__list {
  display: grid;
  gap: 3rem;

  transition: var(--transition);

  @media (min-width: 47.5rem) {
    gap: 5rem;
  }

  @media (min-width: 62.5rem) {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.88rem;
  }
}
