.cta {
  position: relative;

  margin: 0 1.5rem;

  @media (min-width: 47.5rem) {
    margin: 0 1.94rem 0 2.44rem;
  }

  @media (min-width: 62.5rem) {
    margin: 0 2.13rem 0 2.19rem;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: var(--width-1110);
    width: 100%;

    display: grid;
    justify-items: center;
    gap: 2rem;

    padding: 4rem 1.5rem 4rem 1.5rem;
    margin: 0 auto;

    border-radius: 0.94rem;

    background: var(--primary-clr-two);
    background-image: url(/src/assets/shared/desktop/bg-pattern-call-to-action.svg);
    background-position: -14.88rem -6.44rem;
    background-size: 54.5rem;
    background-repeat: no-repeat;

    @media (min-width: 47.5rem) {
      top: -5.56rem;

      padding: 3.63rem 1.5rem 3.44rem 1.5rem;

      background-position: -1.81rem -7.81rem;
      background-size: 55.63rem;
    }

    @media (min-width: 62.5rem) {
      top: -4.56rem;

      grid-template-columns: 1fr 1fr;
      align-items: center;

      padding: 4.5rem 6.19rem 4.5rem 5.56rem;

      background-position: right -9.19rem;
      background-size: 54.5rem;
    }
  }

  &__container {
    display: grid;
    justify-items: center;
    gap: 0.94rem;

    color: var(--primary-clr-one);
    text-align: center;

    @media (min-width: 47.5rem) {
      gap: 1rem;
    }

    @media (min-width: 62.5rem) {
      justify-items: start;

      text-align: start;
    }
  }

  &__heading {
    max-width: 12ch;
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-500);
    line-height: 1.13;

    @media (min-width: 47.5rem) {
      font-size: var(--font-size-40);
      line-height: 1;
    }
  }

  &__text {
    max-width: 46ch;
    font-size: var(--font-size-15);
    font-weight: var(--font-weight-400);
    line-height: 1.67;

    @media (min-width: 47.5rem) {
      font-size: var(--font-size-16);
      line-height: 1.63;
    }
  }

  &__button {
    @media (min-width: 62.5rem) {
      justify-self: end;
    }
  }
}
